.bme-item {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #e74c3c;
    border-radius: 15px;
    text-align: center;
    width: 50%;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.bme-bar {
    height: 12px;
    border-radius: 6px;
    background-image: linear-gradient(to right, #f39c12, #e74c3c);
    transition: width 1s ease-in-out;
    width: 0;
    margin-top: 15px;
}

.bme-item p {
    margin: 12px 0;
    font-size: 20px;
    color: #1abc9c;
}

.bme-item h4 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #555;
}

.historical-chart-bme {
    margin: 10px auto;
    padding: 1em;
    border: 3px solid #1abc9c;
    border-radius: 15px;
    text-align: center;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

.historical-chart-bme select {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #555;
    outline: none;
    cursor: pointer;
}

.historical-chart-bme canvas {
    width: 100%;
    max-width: 90vw;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border: 2px solid #3498db;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .historical-chart-bme canvas {
        max-width: 100%;
    }
}
