/* Header.css */
.header {
    background-color: #13bdee;
    color: #f4f4f4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 10px;
}
