.distance h3 {
    margin: 10px;
}

.distance {
    margin: 20px;
    padding: 10px;
    border: 3px solid #3498db;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    display: inline-block;
    font-family: Arial, sans-serif;
}

.distance-bar {
    height: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #3498db, #1abc9c);
    transition: width 1s ease-in-out;
    width: 0;
}

.distance p {
    margin: 10px 0;
    font-size: 20px;
    color: #1abc9c;
}

.historical-chart-distance {
    margin-top: 20px;
    border: 2px solid #1abc9c;
    border-radius: 10px;
    overflow: hidden;
}

.time-range-selector {
    margin-top: 20px;
}

.time-range-selector label {
    font-weight: bold;
}

.time-range-selector select {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #555;
    outline: none;
    cursor: pointer;
}

.time-range-selector select:hover,
.time-range-selector select:focus {
    border-color: #1abc9c;
}
