/* Spoločný štýl pre komponenty Distance a Pressure */
.distance {
    margin: 20px;
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    display: inline-block;
    font-family: Arial, sans-serif; /* Voliteľné: Nastavenie písma */
}

/* Štýl pre čiaru vzdialenosti */
.distance-bar {
    height: 10px;
    border-radius: 5px; /* Zaoblenie rohov pre mäkší vzhľad */
    background-image: linear-gradient(to right, #3498db, #1abc9c); /* Farebný prechod */
    transition: width 1s ease-in-out; /* Plynulá animácia prechodu */
    width: 0%; /* Začiatočná šírka je nula */
}

/* Voliteľné: Pridanie niektorých štýlov k textu pre lepšiu čitateľnosť */
.distance p {
    margin: 10px 0;
    font-size: 18px;
    color: #555;
}
